<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Social Network</title>
</head>
<body>

  <form action="/" method="POST">
    <input type="text"  id="name-field" placeholder="Name" name="name">
    <input type="text"  id="content-field" name="post" placeholder="Post Content">
    <input type="submit" value="Submit" id="submit-field">
  </form>


  <div class="post-field">  
      {% for post in posts %}
      <div>{{ post[1] + ': ' + post[2]}}</div>
      {% endfor %}
  </div>
      

</body>

</html>
