<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Social Network</title>
</head>
<body>
  <!-- navbar -->
  <div id="navbar">
    <div id="logo">
      <h1>A Social Network.</h1>
    </div>
    <div class="div" id="links">
      <a href="#">Home</a>
      <a href="#">Sign Up</a>
      <a href="#">Login</a>
      <a href="#">Logout</a>
    </div>
  </div>


  <!-- form -->
  <form action="/" method="POST">
    <textarea type="text"  id="name-field" placeholder="Name" name="name"></textarea>
    <br>
    <textarea type="text"  id="content-field" name="post" placeholder="Post Content"></textarea>
    <br>
    <input type="submit" value="Submit" id="submit-field">
  </form>


  <!-- posts -->
  <div class="post-field">  
      {% for post in posts %}
      <div id="post-text">{{ post[1] + ': ' + post[2]}}</div>
      {% endfor %}
  </div>
      

</body>

</html>
